:root {
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    
}
.result__summary {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 700px;
    background-color: var(--White);

}
.result__summary-container {
    display: flex;
    justify-content: space-between;

}
.result {
    background: linear-gradient(to bottom,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background));
    border-radius: 20px;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.result__title {
    color: var(--Light-lavender);
}
.total__score {
    
    border-radius: 75px;
    height: 150px;
    width: 150px;
    background: linear-gradient(to bottom,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle));

}
.result__score {
    margin-top: 25px;
    font-size: 60px;
    margin-bottom: -10px;
    color:var(--White);
}
.result__totalgrade{
    color: var(--Light-lavender);
}
.result__reward {
    color: var(--White);
    font-size: 27px;  
    margin-bottom: -10px;
}
.result__remark {
    color: var(--Light-lavender);
    font-size: 18px;
}
.summary__section {
    padding: 25px;
    display: grid;
    width: 50%;
    
}
.summary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.summary__section h3 {
    margin-top: 5px;
    margin-bottom: 20px;
}
.summary__container {
    display: flex;

}
.summary__container img {
    margin-right: 20px;
}

.summary__container--reaction {
    padding: 12px 14px;
    background-color: hsla(0, 100%, 67%,0.1);
    border-radius: 8px;
}
.reaction__text {
    color: hsla(0, 100%, 67%,0.7);
}

.summary__container--memory {
    padding: 12px 14px;
    background-color:  hsla(39, 100%, 56%, 0.1);
    border-radius: 8px;
}
.memory__text {
    color:  hsla(39, 100%, 56%, 0.7);
}
.summary__percentage {
    color: var(--Light-lavender);
}

.summary__container--verbal {
    padding: 12px 14px;
    background-color: hsla(166, 100%, 37%, 0.1);
    border-radius: 8px;
}
.verbal__text {
    color:  hsla(166, 100%, 37%, 0.7);
}

.summary__container--visual {
    padding: 12px 14px;
    background-color: hsla(234, 85%, 45%, 0.1);
    border-radius: 8px;
}
.visual__text {
    color:  hsla(234, 85%, 45%, 0.7);
}
.button {
    margin-top: 20px;
    width: 100%;
    padding: 14px 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.button--primary {
   background-color:  var(--Dark-gray-blue);
   color:var(--White);
   font-size: 19px;
}
.button:hover {
    background: linear-gradient(to bottom,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background));
}
@media screen and (min-width:385px) and (max-width:700px) {
    body {
        align-items: flex-start;
        background-color: white;
    }
    .result {
        padding: 20px;
        border-radius: 0 0 20px 20px;
        width: 100%;
        
    }
    .result__summary {
        box-shadow: none;
    }
    .result__summary-container {
        
        flex-direction: column;
    }
    .result__title {
       
        margin-bottom: 15px;
    }
    .result__reward {
        color: var(--White);
        font-size: 27px;  
        margin-top: 15px;
       
    }
    .result__remark {
        margin-top: 20px;
        width: 250px;
    }
    .summary__section {
     
        width: 100%;
        
    }
}